<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513126502650-vjl0a4aea3r1250fvpburghbk7g786b6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513126502650-vjl0a4aea3r1250fvpburghbk7g786b6</string>
	<key>API_KEY</key>
	<string>AIzaSyAa7ngAy9WRTEdnt30M658eXAIMAzep7J8</string>
	<key>GCM_SENDER_ID</key>
	<string>513126502650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterflashapp</string>
	<key>PROJECT_ID</key>
	<string>flashchat-c2609</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-c2609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513126502650:ios:9a92460baf6d470c933943</string>
</dict>
</plist>